---
import siteinfo from "../data/siteinfo.json";
---

<div class="fixed right-0 left-0 py-2 z-50 bg-inherit rounded-b-lg min-h-12">
  <a href="/" class="absolute p-1 left-2 md:left-4 top-2">
    <i class="bi bi-house-fill"></i>
  </a>

  <!-- Desktop menu -->
  <div class="hidden md:flex justify-center gap-4 text-lg">
    {siteinfo.navLinks.map(navItem => (
      (new URL(navItem.link, Astro.site).pathname === Astro.url.pathname) ? (
        <button
          data-sectionid={navItem.id}
          id={`nav_${navItem.name}`}
          class="p-1 text-zinc-600 dark:text-zinc-400 hover:opacity-50 cursor-pointer"
        >
          {navItem.name}
        </button>
      ) : (
        <a
          href={navItem.link}
          class="p-1 !text-zinc-600 dark:!text-zinc-400 hover:opacity-50 cursor-pointer"
        >
          {navItem.name}
        </a>
      )
    ))}
  </div>

  <!-- Burger menu on mobile -->
  <button
    id="burger-menu"
    class="md:hidden absolute p-1 top-2 right-2 rounded-lg hover:bg-zinc-300 dark:hover:bg-zinc-700"
  >
    <i id="menu-button" class="bi bi-list"></i>
  </button>

  <!-- Toggle theme button -->
  <button
    id="theme-toggle"
    class="hidden md:block absolute p-1 top-2 right-2 md:right-4 rounded-lg hover:bg-zinc-300 dark:hover:bg-zinc-700"
  >
    <i id="sun" class="bi bi-sun hidden dark:inline"></i>
    <i id="moon" class="bi bi-moon-stars inline dark:hidden"></i>
  </button>
</div>

<div
  id="mobile-menu"
  class="md:hidden p-2 fixed z-50 top-12 w-full flex bg-zinc-200 dark:bg-zinc-800 flex-col gap-4 text-lg text-center"
>
  <button
    id="theme-toggle"
    class="py-1 px-2 rounded-lg bg-zinc-300 dark:bg-zinc-700 w-fit m-auto"
  >
    <i id="sun" class="bi bi-sun hidden dark:inline"></i>
    <i id="moon" class="bi bi-moon-stars inline dark:hidden"></i>
  </button>

  {siteinfo.navLinks.map(navItem => (
    (new URL(navItem.link, Astro.site).pathname === Astro.url.pathname) ? (
      <button
        data-sectionid={navItem.id}
        id={`nav_${navItem.name}`}
        class="p-1 !text-zinc-600 dark:!text-zinc-400 hover:opacity-50 cursor-pointer"
      >
        {navItem.name}
      </button>
    ) : (
      <a
        href={navItem.link}
        class="p-1 !text-zinc-600 dark:!text-zinc-400 hover:opacity-50 cursor-pointer"
      >
        {navItem.name}
      </a>
    )
  ))}
</div>

<style>
button {
  transition: opacity 0.3s ease;
  font-weight: 500;
}

#mobile-menu {
  opacity: 0;
  transform: translateY(-1rem);
  pointer-events: none;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

#mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
</style>

<script>
import { scrollToSection } from "@util/scroll";
import { toggleTheme } from "@util/theme";

const burgerToggle = document.getElementById('burger-menu')!;
const mobileMenu = document.getElementById('mobile-menu')!;

burgerToggle.addEventListener('click', () => {
  mobileMenu.classList.toggle('is-open');
});

mobileMenu.addEventListener('click', () => {
  mobileMenu.classList.remove('is-open');
});

// Add click events for all theme toggle buttons
const themeToggleButtons = document.querySelectorAll('#theme-toggle')!;
themeToggleButtons.forEach(button => {
  button.addEventListener('click', () => toggleTheme());
});

// Add click events for each button section
const navButtons = document.querySelectorAll<HTMLButtonElement>("button[data-sectionId]");
navButtons.forEach(button => {
  const sectionId = button.dataset.sectionid!;
  button.addEventListener("click", () => {
    scrollToSection(sectionId);
  });
});
</script>
